
<div class="list-item-game">
	<a href="/game/view/?game={{g.id}}">
		<img class="keep-prop" style="float:left;" src="{{g.img}}">
	</a>
	<div style="float:left;margin-left:1em">
		<h3 style="margin-top:12px;">{{g.name}}</h3>
		<div>
		
		</div>
	</div>
	
	<div style="margin-top:12px;float:right;margin-right:1em">
		{% ifequal g.price "0.0" %}
			<span style="color:green;font-size: 18px">Gratis</span>
		{% else %}
			<span style="font-size: 18px">{{g.price}}&euro;</span>
		{% endifequal %}
	</div>
	
	<div style="clear:both"></div>
</div>
	